*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

.search {
    position: relative;
    width: 240px;
}

.search input {
    border: solid 1px black;
    background-color: #fff;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.search img {
    position: absolute;
    top: 2px;
    right: 5px;
}

.gradient {
    position: relative;
}

.gradient::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle, #ffffff00, #ffffff00, #000000, #000000, #000000);
    opacity: 0.6;
}

.mirror-img {
    transform: scaleX(-1);
}